{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <title>{% block title %}Calorie Tracker{% endblock %}</title>
  <style>
    body {
      background-image: url("{% static 'image/background.jpg' %}");
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
      background-repeat: no-repeat;
    }
  </style>
</head>
<body class="min-h-screen bg-blue-50/70">
  {% block content %}
  {% endblock %}
</body>
</html>